html {
    height: 100%;
}
body {
    height: 100%;
}
#root {
    height: 100%;
}
#ht {
    border-color: #b5c3b4;
    background-color: #b5c3b4;
    color: rgba(20, 4, 72, 1);
    font-size: 18px;
    height: 28px;
    width: 35px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 9px;
}

#header {
    margin-right: var(--lwc-font-weight-bold);
}
